<ion-toolbar class="header-clr">
  <ion-title>QUIZ PASSED</ion-title>
</ion-toolbar>

<ion-content class="topic-bg">
<ion-header collapse="condense">
<ion-toolbar>
  <ion-title size="large">quiz</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="img">
    <img src="assets/images/passed.png">
  </div>
  <h1>GOOD JOB!</h1>
  <div class="msg">
    <p>You have passed the after-lesson quiz! You have unlocked the second topic which is located at the Home. Keep doing a great job!</p>
  </div>
  <ion-button fill="clear" (click)="gotoHome()">PROCEED</ion-button>
</ion-content>