h1{
    font-family: Inter-Bold;
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0;
}

ion-input.custom {
    background: #ffffff;
    color: #000000;
    width: 85%;
    margin: auto;
    border: 1px solid #000000;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
}

.inputs p {
    margin-left: 20px;
    font-size: 18px;
    font-family: Inter-Light;
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

.inputs {
    width: 95%;
    margin: auto;
}

ion-button{
    width: 40%;
    margin-top: 30px;
    margin-left: 30%;
    font-family: Inter-Bold;
    font-size: 24px;
    color: white;
    background-color: #CC00FF;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3); 
}

.logo {
    margin: auto;
    margin-top: 30%;
    width: 250px;
}

.logo img{
    width: 320px;
    height: 200px;
}


.login_content {
    position: relative;
    width: 92%;
    height: 420px;
    margin: auto;
    background-image: url(/assets/images/quiz_bg.png);
    background-size: cover;
    border-radius: 40px;
    margin-top: 15%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3); 
}

.login_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 5, 83, 0.5);
    border-radius: 40px;
}

.login_content > * {
    position: relative;
    z-index: 1; 
}


